<!DOCTYPE html>
<html>

<head>
    <link href="../component/addStyle.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="data">
        <form class="Form" id="myForm">
            <table id="employeeData">
                <div id="tableData">
                    <tr>
                        <td>
                            <label for="Id">Id</label>
                            <input type="text" id="id">
                        </td>
                    </tr>
                    <tr id="row">
                        <td id>
                            <label for="firstName">First Name</label>
                            <input type="text" id="fName">
                        </td>
                    </tr><br>
                </div>
                <div>
                    <tr>
                        <td>
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lName">
                        </td>
                    </tr>
                </div>
                <div>
                    <tr>
                        <td>
                            <label for="email">Email</label>
                            <input type="text" id="email">
                        </td>
                    </tr>
                </div>
                <div class="button">
                    <tr>
                        <td><button class="addEmployee" id="btn">Submit</button></td>
                    </tr>
                </div>

            </table>
        </form>
    </div>
    <script src="../employeeData/employeeDetails.js"></script>

</body>


</html>