h1{
    color: blue;
    text-align: center;
    
}

.table{
    font-size: 25px;
    width: 90%;
    border-collapse: collapse;
    border-top-style: solid;
    border-bottom-style: inherit;
}
th{
    height: 50px;
}
td{
    height: 60px;
    text-align: center;
    background-color: gainsboro;
}
.addbtn{
    font-size: 30px;
    color: blue;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
}
body{
    background-color: whitesmoke;
}
.second row{
    width: 90px;
}